* {
	--black-chocolate: #1d1e18;
	--russian-green: #6b8f71;
	--turquoise-green: #aad2ba;
	--light-cyan: #d9fff5;
	--magic-mint: #b9f5d8;
}

.title {
	color: black;
	display: flex;
	-unity-text-align: middle-center;
	font-size: 25px;
}

.fpsViewer {
	color: black;
	-unity-text-align: middle-center;
	display: flex;
	font-size: 25px;
}

.content {
	display: flex;
	flex-direction: row;
	flex-basis: auto;
	margin: 10% 0 0 0;
}
